/* ==========================================================================
 * Author's custom styles
 * ========================================================================== */



/***************************************** 
GENERAL

#logo {
  max-width: 50%;
  display: block;
  margin: 0 auto;

}
*****************************************/
body {
  margin: 0px;
  font-family: 'open_sansregular', sans-serif }

a {
  text-decoration: none;
}

/*em is a relative unit 1,75 is .75 larger than default*/
h1{
  font-family: 'quicksandbold', sans-serif;
  margin:0;
  font-size: 1.75em;
  text-align:center;
  font-weight: normal;
  line-height:1em;
}

h2{
  font-size: 1.4em;
  margin:5px 0 0;
  font-weight: normal;
}

/*tells image to fill the width of parent container*/
img{
  max-width:100%;
}

/***************************************** 
HEADER
*****************************************/

header {
  float:left;
  margin: 0 0 20px 0;
  padding:5px 0 0 0;
  width:100%;
  text-align:center;
}

#top-header{
  text-align:center;
  margin:0;
}

header h1{
  font-size: 4em;
}


/***************************************** 
NAVIGATION

nav {
  background-color: #008B8B;
  width:100%;
  text-align: center;
  padding:10px 0;
  margin:20px 0 0;
}

nav ul {
  padding: 0;
  margin: 0 10px;
  list-style: none;
  display:inline-block;
}

nav a, nav a:visited {
  color:white;
}

/* Active Link 
nav ul li.active, nav ul li.active a {
  background-color: #e5f3f3;
  color: #52D08F;
}

/* Hovered Link
nav ul li a:hover {
  background-color: #40E0D0;
  color: #FFFACD; 
}
nav ul {
  height:50px;
}

nav li{
  display:inline-block;
  font: 1.05em "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 50px;
}
nav li a{
  color:white;
  display:block;
  width:auto;
  padding:0 20px;
}


*****************************************/

nav{
  text-align:center;
  background-color: #008B8B;
  margin:15px 0 0;
}

nav ul {
  list-style: none;
  margin: 0px;
  padding:0;
}

nav li{
  display: block;
  text-align: center;
}

nav a{
  font-family: 'open_sansextrabold', sans-serif;
  padding: 5px;
  border-bottom:.5px solid #52D08F;
  color:white;
  display:block;
}

/* Active Link */
nav ul li.active a{
    background-color: #e5f3f3;
    color:#52D08F;
    font-weight:bold;
}

/***************************************** 
CORE CONTENT - WRAPPER
*****************************************/

#wrapper {
  max-width: 940px;
  margin:0 auto;
  padding:0 5%;
}

/***************************************** 
PAGE: HOME specific styling
*****************************************/
#recents{
  margin:0;
  padding:0;
  list-style:none;
}

#recents li{
  float: left;
  width:45%;
  margin:2.5%;
  background-color: white;
  color:blue;
}

#recents li a p {
  margin:0;
  padding:5%;
  font-size:0.8em;
  color: #008B8B;
  text-align: center;
}
/***************************************** 
FOOTER
position fixed - sets it at the bottom along with the dimensions

footer{
  text-align: center;
  position:fixed;
  height: 25px;
  width: 99%;
  bottom: 0px;
  right: 0px;
  clear:both;
  padding:5px;
}
*****************************************/
footer{
  font-size: .75em;
  text-align: center;
  clear:both;
  padding-top:40px;
}
/***************************************** 
COLORS
*****************************************/
body{
  background: #F6F0E8;
}

a{
  color:#FB3640;
}

h1{
  color: #BE0000; 
}

h2{
  color: #ED752F;
}

header {
  background-color: #ED752F;
  border-color:orange;
}

header h1{
  color:white;
}

header h2{
  color:#e5f3f3;
}

footer{
  background-color: #CCC;
}
/***************************************** 
For Browser Screen


@media screen and (min-width: 700px) {
  nav {
    position: fixed;
    width: 99%;
    box-sizing: border-box; 
  }
    nav li {
      width: 175px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      display: inline-block;
      margin-right: -4px; 
    }
}
*****************************************/

/***************************************** 
Media Queries
*****************************************/

@media screen and (min-width: 550px) {
  nav{
    text-align:center;
    border: .5px solid #008B8B;;
  }
  nav ul {
    list-style: none;
    margin: 0 10px;
    padding:0;
  }
  nav li{
    display: inline-block;

  }
  nav a{
    padding: 15px 20px;
    color:white;
    border:none;
   }
}
