/* ==========================================================================
 * Author's custom styles
 * ========================================================================== */
/**************** KEY BODY ELEMENTS ****************/






/*    NAVIGATION BAR   */
nav {
  background-color: #008B8B;
}
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height:50px;
    text-align: center;
     }
  nav li {
	font: 1.05em "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height:50px;
  background-color: #008B8B;}
  nav a {
    display:block;
    text-decoration: none;
    color: white;}
  nav ul li a:hover {
    background-color: #40E0D0;
    color: #FFFACD; }
  nav ul li.active a {
    background-color: #e5f3f3;
    color: #52D08F;
     }

@media screen and (min-width: 680px) {
  nav {
    position: fixed;
    width: 99%;
    box-sizing: border-box; 
  }
    nav li {
      width: 175px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      display: inline-block;
      margin-right: -4px; 
    }
}






