/* ==========================================================================
 * Author's custom styles
 * ========================================================================== */



/***************************************** 
GENERAL
*****************************************/

body {
  margin: 0px;}

a {
  text-decoration: none;
}

h1{
  font-family: 'quicksandbold', sans-serif;
  margin:0;
  font-size: 1.75em;
  text-align:center;
}

h2{
  margin:5px;
  font-size: 1em;
}

#logo {
  max-width: 50%;
  display: block;
  margin: 0 auto;

}
/***************************************** 
HEADER (old color #FFAA00)
*****************************************/
header {
  background-color: #ED752F;
  float:left;
  margin: 0 0 20px 0;
  padding:5px 0 0 0;
  width:100%;
  text-align:center;
}

header h1{
  color:white;
  font-size: 4em;
}

header h2{
  color:#e5f3f3;
}

/***************************************** 
NAVIGATION
*****************************************/

nav {
  background-color: #008B8B;
  width:100%;
  text-align: center;

}
nav ul {
  padding: 0;
  margin: 0 10px;
  height:50px;
  list-style: none;
}
nav li{
  display:inline-block;
  font: 1.05em "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 50px;
}
nav li a{
  color:white;
  display:block;
  width:auto;
  padding:0 20px;
}
nav ul li a:hover {
  background-color: #40E0D0;
  color: #FFFACD; 
}
nav ul li.active a {
  background-color: #e5f3f3;
  color: #52D08F;
}

/***************************************** 
FOOTER
position fixed - sets it at the bottom along with the dimensions
*****************************************/
footer{
  text-align: center;
  position:fixed;
  height: 25px;
  width: 99%;
  bottom: 0px;
  right: 0px;
  clear:both;
  padding:5px;
}

/***************************************** 
COLORS
*****************************************/

body{
  background-color: #F6F0E8;
}

h1{
  color: #BE0000; 
}

h2{
  color: #ED752F;
}

footer{
  background-color: #CCC;
}


/***************************************** 
For Browser Screen


@media screen and (min-width: 700px) {
  nav {
    position: fixed;
    width: 99%;
    box-sizing: border-box; 
  }
    nav li {
      width: 175px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      display: inline-block;
      margin-right: -4px; 
    }
}
*****************************************/
